body {margin: 0px;
      padding: 0px;
      font-family:"Arial";
      overflow-x: hidden;
}

#ite{padding: 10%;
	display: block;
	overflow: hidden;

}

#empresa{

}

#telefono{

}

#profesor { padding: 10%;
}

id, nombre {
	font-family: arial;
	font-size: 18px;
	width: 80px;
	display: block;
	float: left;
	text-align: center;
}

#id{
	font-size: 22px;
	color:rgb(132, 4, 252);
}

#nombre{
	font-size: 22px;
	color:rgb(2, 2, 5);
}

#director{

}
